.header {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    border: 1px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;;
}

.search {
    padding: 10px;
    text-align: center;
}

.res-card {
    padding: 5px;
    width: 300px;
    border: 1px solid black;
    margin: 10px;
}

.res-logo {
    width: 100%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card {
    margin: 20px;
    width: 300px;
    height: 400px;
    background-color: #f0f0f0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
}

.filter {
    display: flex;
    justify-content: space-around;
    padding: 25px 80px;
    align-items: center;
}

.filter-btn {
    margin: 15px 30px;
}

.search-input {
    border-right: none;
}

.search-btn {
    border-left: none;
}